<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    현실에 적응하기 보다 미래를 위한 행동을 하려고 노력합니다.
    <br/>
    <br/>

    쌓아온 기술 스택
    <br/>
    <ul>
        <li>ASP.NET Web Service - ASMX 기반의 SOAP 방식 내부 및 외부 연동용 웹서비스 개발</li>
        <li>.Net Middleware Web Service - WCF 기반의 Restful OpenAPI 웹서비스 개발</li>
        <li>Server Side Web Application - ASP.NET Web Application / MVC Framework / Razor 기술들을 활용한 이커머스 서비스</li>
        <li>C# Windows / Console Application 기반한 데몬 서비스 개발</li>
        <li>ORM Framework - Entity Framework / Dapper 를 활용한 데이터 매핑</li>
        <li>Logging Framework - Log4Net / NLog / Serilog 등을 이용한 서비스 로그 관리</li>
    </ul>

    클라이언트 기술 및 다른 플랫폼 언어는 얇지만 이렇게..
    <br/>
    <ul>

    <li>Javascript & JQuery (ES6+ 기반으로 스터디 및 사내 서비스에 활용</li>
    <li>ReactJS(셀프 스터디 및 그룹 프로젝트)</li>
    <li>Python (OCR 구현에 이미지 조작위해 사용 / 웹사이트 로그 분석위해 사용)</li>
    </ul>

    TDD 를 알게 되고 나서 업무에 활용범위를 넓혀갑니다.
    <br/>

    <ul>
    <li>상품 결제 및 취소 기능 테스트 자동화</li>
    <li>ElasticSearch 데이터 조회 및 저장에 대한 단위테스트 기반한 서비스 개발</li>
    <li>BDD 기반의 TestCode 작성</li>
    <li>명확하고 이해하기 쉬운 테스트</li>
    <li>다같이 TDD 하는 그날까지 나부터 앞장서서..</li>
    </ul>
</div>